.App {
  text-align: center;
}

.App-logo {
  height: 330px;
  width: auto;
  box-shadow: black;
  border: 3px solid white;
  background:rgba(255,255,255,0.5);
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 9.5em;
    color: white;
  shadow: darkred;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
